.wrapper{
    border: 2px solid red;
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
.box{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
}